<<<<<<< HEAD


$fontOne: 'Inconsolata', monospace;
=======
$bodyFont: "Barlow", sans-serif;
$headerFont:"Press Start 2P", cursive;

// Color Scheme
$BrightRed: #DE354C;
$DeepRed: #932432;
$PurePurple: #3C1874;
$PurpleTingedGrey: #283747;
$Cloud: #E1ECF7;
>>>>>>> 336b5d7eddd270c2b9377ee50e627ebac4ce1bdc
