@import 'setup';
@import 'variables';

.header-container {
    margin: 70px 0;
}
.wrapper {
        max-width: 1200px;
        width: 95%; 
        margin: 0 auto;
    }

h1 {
    font-family: $headerFont;
    color: $BrightRed;
    text-align:center;
}

h2 {
    font-family: $headerFont;
    color: $PurePurple;
    text-align: center;
}

h3 {
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 55px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 20px;
    text-align: center;
}

// .top-rated p:first-child, .other-movies p:first-child {
//     font-weight: 700;
// }

li {
    font-weight: 700;
}

html {
    font-family: $bodyFont;
    background-color: $Cloud;

}

form {
    border: 3px solid black;
    border-radius : 15px;
    text-align: center;
    padding: 30px 0;
}
main {
  background-color: white;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
}

