@import 'setup';
@import 'variables';


// General

html {
    font-family: $bodyFont;
    background-color: $Cloud;
    font-size: 125%;
}

.wrapper {
    max-width: 1200px;
    width: 95%; 
    margin: 0 auto;
}

h1, h2 {
    font-family: $headerFont;
    text-align:center;
}

h1 {
    color: $BrightRed;  
    font-size: 3rem;
}

h2 {
    color: $PurePurple;
    font-size: 2rem;
}

h3 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 55px;
}

h4 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
    text-align: center;
}

img {
    max-width: 100%;
}

li {
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// Header Section
.header-container {
    margin: 70px 0;
}

form {
    border: 3px solid $PurePurple;
    border-radius : 15px;
    text-align: center;
    padding: 30px 0;
}

select, input {
    border: 3px solid $PurePurple;
    border-radius: 5px;
}

select {
    appearance: none;
    width: 45%;
    height: 30px;
    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    text-align: center;
}

input {
    padding: 10px 20px;
}

input:hover {
    background-color: $PurePurple;
    cursor: pointer;
    color: white;
}

input, main {
    background-color: white
}

.top-rated-ul{
    display: flex;
    flex-wrap: wrap;
}

.top-rated-ul li {
    width: calc((100%/3) - 60px);
    margin: 0px 30px;
    min-width: 190px;
    text-align: center;
}

// Other Movies Section

.other-movies ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.other-movies li {
    width: calc((100%/4) - 60px);
    margin: 15px 30px;
    min-width: 190px;
    text-align: center;
}

// Footer Section 

footer {
    text-align: center;
    margin-top: 30px;
}

footer p {
    font-size: 1rem;
}

// media 

@media (max-width: 540px) {
    .top-rated-ul, .other-movies ul {
        justify-content: center;
    }

    .top-rated-ul li, .other-movies li {
        width: 100%;
    }
}